
//    Font Family

$primary-font	: 'Poppins', sans-serif;

/*--------------------------- Color variations ----------------------*/

$primary-color	: #c931ff;
$title-color	: #222222;
$text-color		: #777777;

$white			: #fff;
$offwhite		: #cccccc;
$black			: #000;






