@media screen and (max-width: 700px) {
    .tgl-menu {
        margin-bottom: 15px;
    }
    .page-section{
        padding-top: 16px !important;
    }
    .widget-title{
        margin-bottom: 10px !important;
    }
}

@media (max-width:320px) {
    .tgl-menu {
        margin-bottom: 15px;
    }
    .page-section {
        padding-top: 16px !important;
    }
    .widget-title {
        margin-bottom: 10px !important;
    }
}
